In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pandas as pd
pd_data = pd.read_csv('sample_data/california_housing_train.csv')
pd_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [8]:
df_pyspark = spark.read.option('header' ,'true').csv('sample_data/california_housing_train.csv')

In [9]:
df_pyspark

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [10]:
df_pyspark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(2)

[Row(longitude='-114.310000', latitude='34.190000', housing_median_age='15.000000', total_rooms='5612.000000', total_bedrooms='1283.000000', population='1015.000000', households='472.000000', median_income='1.493600', median_house_value='66900.000000'),
 Row(longitude='-114.470000', latitude='34.400000', housing_median_age='19.000000', total_rooms='7650.000000', total_bedrooms='1901.000000', population='1129.000000', households='463.000000', median_income='1.820000', median_house_value='80100.000000')]

In [14]:
df_pyspark.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [15]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()
spark

In [43]:
## reading the dataset
pyspark_df = spark.read.csv('sample_data/california_housing_train.csv'  , header= True , inferSchema= True)
pyspark_df

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double]

In [44]:
pyspark_df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [45]:
pyspark_df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [46]:
# get columns
pyspark_df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [47]:
# select a columsn
pyspark_df.select('longitude').show()

+---------+
|longitude|
+---------+
|  -114.31|
|  -114.47|
|  -114.56|
|  -114.57|
|  -114.57|
|  -114.58|
|  -114.58|
|  -114.59|
|  -114.59|
|   -114.6|
|   -114.6|
|   -114.6|
|  -114.61|
|  -114.61|
|  -114.63|
|  -114.65|
|  -114.65|
|  -114.65|
|  -114.66|
|  -114.67|
+---------+
only showing top 20 rows

In [48]:
type(pyspark_df.select('longitude'))

pyspark.sql.dataframe.DataFrame

In [49]:
# selecting 2 columns
pyspark_df.select(['longitude', 'latitude']).show()

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -114.31|   34.19|
|  -114.47|    34.4|
|  -114.56|   33.69|
|  -114.57|   33.64|
|  -114.57|   33.57|
|  -114.58|   33.63|
|  -114.58|   33.61|
|  -114.59|   34.83|
|  -114.59|   33.61|
|   -114.6|   34.83|
|   -114.6|   33.62|
|   -114.6|    33.6|
|  -114.61|   34.84|
|  -114.61|   34.83|
|  -114.63|   32.76|
|  -114.65|   34.89|
|  -114.65|    33.6|
|  -114.65|   32.79|
|  -114.66|   32.74|
|  -114.67|   33.92|
+---------+--------+
only showing top 20 rows

In [50]:
# check data type
pyspark_df.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [51]:
pyspark_df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [52]:
pyspark_df.withColumn('total rooms + 2 ', pyspark_df['total_rooms'] + 2).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|total rooms + 2 |
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|          5614.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|          7652.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|           722.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|          1503.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|          1456.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|          1389.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|          2909.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|           814.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|          4791.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|          1499.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|          3743.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|          1990.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|          1293.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|          2480.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|          1450.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|          2558.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|          1680.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|            46.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|          1390.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|            99.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
only showing top 20 rows

In [53]:
pyspark_df = pyspark_df.withColumn('total rooms + 2 ', pyspark_df['total_rooms'] + 2) # not inplace so reassigning

In [54]:
pyspark_df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|total rooms + 2 |
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|          5614.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|          7652.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|           722.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|          1503.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|          1456.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|          1389.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|          2909.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|           814.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|          4791.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|          1499.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|          3743.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|          1990.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|          1293.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|          2480.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|          1450.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|          2558.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|          1680.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|            46.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|          1390.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|            99.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+
only showing top 20 rows

In [57]:
pyspark_df = pyspark_df.drop('total rooms + 2 ')

In [58]:
pyspark_df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [59]:
# rename a columns

pyspark_df.withColumnRenamed('total_rooms' , 'rooms').show()  # not inplace

+---------+--------+------------------+------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age| rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0| 720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0| 812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|  44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|  97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [61]:
pyspark_df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

# tutorial 3

- Dropping columns
- Dropping Rows
- various parameter in dropping fucn
- Handling missing values by mean , median , mode

In [97]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataModificatoin').getOrCreate()

In [107]:
data_set = spark.read.csv('sample_data/california_housing_train.csv' , header = True , inferSchema= True)

In [108]:
data_set = data_set.drop('latitude')

In [109]:
data_set = data_set.limit(20)

In [110]:
data_set.show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [111]:
# modifying data such that nan values are introduced


from pyspark.sql.functions import col , lit , when , monotonically_increasing_id
data_set = data_set.withColumn("index" , monotonically_increasing_id())

import random
rows_to_update = random.sample(range(data_set.count()) , 5)
cols_to_update = random.sample(data_set.columns , 7)

for row in rows_to_update:
  for col_name in cols_to_update:
    data_set = data_set.withColumn( col_name ,
                                   when(col("index") == lit(row) , lit(None)).otherwise(col(col_name))
                                  )

In [112]:
data_set.show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|     NULL|              NULL|       NULL|          NULL|    1129.0|     463.0|         1.82|           80100.0| NULL|
|     NULL|              NULL|       NULL|          NULL|     333.0|     117.0|       1.6509|           85700.0| NULL|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|     NULL|              NULL|       NULL|          NULL|     671.0|     239.0|       3.3438|           74000.0| NULL|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|     NULL|              NULL|       NULL|          NULL|    2434.0|     824.0|       2.6797|           86500.0| NULL|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|     NULL|              NULL|       NULL|          NULL|     666.0|     256.0|       2.9653|           94900.0| NULL|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [113]:
# na values

data_set.na.drop().show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [114]:
data_set.na.drop(how='all').show() # without threshold

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|     NULL|              NULL|       NULL|          NULL|    1129.0|     463.0|         1.82|           80100.0| NULL|
|     NULL|              NULL|       NULL|          NULL|     333.0|     117.0|       1.6509|           85700.0| NULL|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|     NULL|              NULL|       NULL|          NULL|     671.0|     239.0|       3.3438|           74000.0| NULL|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|     NULL|              NULL|       NULL|          NULL|    2434.0|     824.0|       2.6797|           86500.0| NULL|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|     NULL|              NULL|       NULL|          NULL|     666.0|     256.0|       2.9653|           94900.0| NULL|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [119]:
data_set.na.drop(how='any' , thresh= 5).show() # without threshold , rows will get deleted if the row has more than 2 non missing values

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [120]:
data_set.na.drop(how = 'all').show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|     NULL|              NULL|       NULL|          NULL|    1129.0|     463.0|         1.82|           80100.0| NULL|
|     NULL|              NULL|       NULL|          NULL|     333.0|     117.0|       1.6509|           85700.0| NULL|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|     NULL|              NULL|       NULL|          NULL|     671.0|     239.0|       3.3438|           74000.0| NULL|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|     NULL|              NULL|       NULL|          NULL|    2434.0|     824.0|       2.6797|           86500.0| NULL|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|     NULL|              NULL|       NULL|          NULL|     666.0|     256.0|       2.9653|           94900.0| NULL|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [121]:
# when you want to delete rows wrt data values from a specific column

data_set.na.drop(how = 'any' , subset= ['total_bedrooms']).show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [128]:
# fill the missing values   # not working
# SHOULD HAVE UPDATES THE NULL VALUES WITH MISSING VALUES BUT DIDNT
data_set.na.fill('MISSING VALUE' , ['total_bedrooms']).show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|
|     NULL|              NULL|       NULL|          NULL|    1129.0|     463.0|         1.82|           80100.0| NULL|
|     NULL|              NULL|       NULL|          NULL|     333.0|     117.0|       1.6509|           85700.0| NULL|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|
|     NULL|              NULL|       NULL|          NULL|     671.0|     239.0|       3.3438|           74000.0| NULL|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|
|     NULL|              NULL|       NULL|          NULL|    2434.0|     824.0|       2.6797|           86500.0| NULL|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|
|     NULL|              NULL|       NULL|          NULL|     666.0|     256.0|       2.9653|           94900.0| NULL|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+

In [129]:
# data imputation

from pyspark.ml.feature import Imputer
imputer = Imputer( inputCols=['longitude','housing_median_age'],
                  outputCols=['Imp_longitude','Imp_housing_median_age']
                   ).setStrategy('mean')

In [131]:
imputer.fit(data_set).transform(data_set).show()

+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+-------------------+----------------------+
|longitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|index|      Imp_longitude|Imp_housing_median_age|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+-------------------+----------------------+
|  -114.31|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|    0|            -114.31|                  15.0|
|     NULL|              NULL|       NULL|          NULL|    1129.0|     463.0|         1.82|           80100.0| NULL|-114.59266666666667|    25.466666666666665|
|     NULL|              NULL|       NULL|          NULL|     333.0|     117.0|       1.6509|           85700.0| NULL|-114.59266666666667|    25.466666666666665|
|  -114.57|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|    3|            -114.57|                  14.0|
|  -114.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|    4|            -114.57|                  20.0|
|     NULL|              NULL|       NULL|          NULL|     671.0|     239.0|       3.3438|           74000.0| NULL|-114.59266666666667|    25.466666666666665|
|  -114.58|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|    6|            -114.58|                  25.0|
|  -114.59|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|    7|            -114.59|                  41.0|
|  -114.59|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|    8|            -114.59|                  34.0|
|   -114.6|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|    9|             -114.6|                  46.0|
|     NULL|              NULL|       NULL|          NULL|    2434.0|     824.0|       2.6797|           86500.0| NULL|-114.59266666666667|    25.466666666666665|
|   -114.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|   11|             -114.6|                  21.0|
|  -114.61|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|   12|            -114.61|                  48.0|
|  -114.61|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|   13|            -114.61|                  31.0|
|  -114.63|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   14|            -114.63|                  15.0|
|  -114.65|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|   15|            -114.65|                  17.0|
|     NULL|              NULL|       NULL|          NULL|     666.0|     256.0|       2.9653|           94900.0| NULL|-114.59266666666667|    25.466666666666665|
|  -114.65|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|   17|            -114.65|                  21.0|
|  -114.66|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|   18|            -114.66|                  17.0|
|  -114.67|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|   19|            -114.67|                  17.0|
+---------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----+-------------------+----------------------+

# tutorial 4 :

- Filter Operation
- &,==
- ~

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 317.0/317.0 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a41609cc0d52ccc7b9c67aac9eeb8cdc679a154fc65cb438b8971017c926d8e9
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataOperations').getOrCreate()
data_set = spark.read.csv('sample_data/california_housing_train.csv' , header = True , inferSchema = True)
data_set.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [6]:
data_set.filter("total_rooms <1000").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
|  -114.73|   33.43|              24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -114.94|   34.55|              20.0|      350.0|          95.0|     119.0|      58.0|        1.625|           50000.0|
|  -114.98|   33.82|              15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|  -115.32|   32.82|              34.0|      591.0|         139.0|     327.0|      89.0|       3.6528|          100000.0|
|  -115.37|   32.81|              32.0|      741.0|         191.0|     623.0|     169.0|       1.7604|           68600.0|
|   -115.4|    32.7|              19.0|      583.0|         113.0|     531.0|     134.0|       1.6838|           95800.0|
|  -115.49|   32.87|              19.0|      541.0|         104.0|     457.0|     106.0|       3.3583|          102800.0|
|   -115.5|   32.75|              13.0|      330.0|          72.0|     822.0|      64.0|       3.4107|          142500.0|
|  -115.52|   34.22|              30.0|      540.0|         136.0|     122.0|      63.0|       1.3333|           42500.0|
|  -115.53|   34.91|              12.0|      807.0|         199.0|     246.0|     102.0|       2.5391|           40000.0|
|  -115.55|    32.8|              23.0|      666.0|         142.0|     580.0|     160.0|       2.1136|           61000.0|
|  -115.55|   32.79|              22.0|      565.0|         162.0|     692.0|     141.0|       1.2083|           53600.0|
|  -115.58|   32.81|               5.0|      805.0|         143.0|     458.0|     143.0|        4.475|           96300.0|
|  -115.59|   32.69|              30.0|      935.0|         177.0|     649.0|     148.0|       2.5769|           94400.0|
|   -115.6|    33.2|              37.0|      709.0|         187.0|     390.0|     142.0|       2.4511|           72500.0|
|  -115.72|   32.75|              16.0|      348.0|          99.0|     123.0|      54.0|       2.0938|           87500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [8]:
data_set.filter("total_rooms <1000").select(['longitude','latitude']).show()

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -114.56|   33.69|
|  -114.59|   34.83|
|  -114.65|   32.79|
|  -114.67|   33.92|
|  -114.73|   33.43|
|  -114.94|   34.55|
|  -114.98|   33.82|
|  -115.32|   32.82|
|  -115.37|   32.81|
|   -115.4|    32.7|
|  -115.49|   32.87|
|   -115.5|   32.75|
|  -115.52|   34.22|
|  -115.53|   34.91|
|  -115.55|    32.8|
|  -115.55|   32.79|
|  -115.58|   32.81|
|  -115.59|   32.69|
|   -115.6|    33.2|
|  -115.72|   32.75|
+---------+--------+
only showing top 20 rows

In [11]:
data_set.filter(data_set['total_rooms'] > 1000).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [13]:
data_set.filter((data_set['total_rooms'] > 1000) &
                (data_set['total_rooms'] < 1200)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -115.39|   32.76|              16.0|     1136.0|         196.0|     481.0|     185.0|       6.2558|          146300.0|
|   -115.4|   32.86|              19.0|     1087.0|         171.0|     649.0|     173.0|       3.3182|          113800.0|
|  -115.41|   32.99|              29.0|     1141.0|         220.0|     684.0|     194.0|       3.4038|          107800.0|
|  -115.51|   33.12|              21.0|     1024.0|         218.0|     890.0|     232.0|        2.101|           46700.0|
|  -115.52|   33.13|              18.0|     1109.0|         283.0|    1006.0|     253.0|        2.163|           53400.0|
|  -115.52|   32.73|              17.0|     1190.0|         275.0|    1113.0|     258.0|       2.3571|           63100.0|
|  -115.55|   32.79|              23.0|     1004.0|         221.0|     697.0|     201.0|       1.6351|           59600.0|
|  -115.56|    32.8|              15.0|     1171.0|         328.0|    1024.0|     298.0|       1.3882|           69400.0|
|  -115.56|   32.79|              18.0|     1178.0|         438.0|    1377.0|     429.0|       1.3373|           58300.0|
|  -115.56|   32.78|              35.0|     1185.0|         202.0|     615.0|     191.0|       4.6154|           86200.0|
|  -115.57|   32.85|              17.0|     1039.0|         256.0|     728.0|     246.0|       1.7411|           63500.0|
|  -115.57|   32.79|              34.0|     1152.0|         208.0|     621.0|     208.0|       3.6042|           73600.0|
|  -115.58|   33.88|              21.0|     1161.0|         282.0|     724.0|     186.0|       3.1827|           71700.0|
|  -115.58|   32.81|              10.0|     1088.0|         203.0|     533.0|     201.0|       3.6597|           87500.0|
|  -115.62|   33.04|              20.0|     1121.0|         244.0|     766.0|     230.0|       2.2969|           62000.0|
|  -115.62|   33.04|              17.0|     1009.0|         231.0|     745.0|     217.0|       2.0463|           61200.0|
|   -116.0|   32.74|              26.0|     1134.0|         280.0|     329.0|     158.0|       1.4338|           43900.0|
|   -116.2|   33.63|              23.0|     1152.0|         273.0|    1077.0|     235.0|          2.5|           96300.0|
|  -116.22|   34.21|              23.0|     1175.0|         468.0|     355.0|     151.0|       2.2083|           42500.0|
|  -116.23|   33.73|              29.0|     1133.0|         221.0|     918.0|     239.0|       2.8648|           72100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [14]:
data_set.filter((data_set['total_rooms'] > 1000) |
                (data_set['total_rooms'] < 1200)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [15]:
data_set.filter(~(data_set['total_rooms'] > 1000)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
|  -114.73|   33.43|              24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -114.94|   34.55|              20.0|      350.0|          95.0|     119.0|      58.0|        1.625|           50000.0|
|  -114.98|   33.82|              15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|  -115.32|   32.82|              34.0|      591.0|         139.0|     327.0|      89.0|       3.6528|          100000.0|
|  -115.37|   32.81|              32.0|      741.0|         191.0|     623.0|     169.0|       1.7604|           68600.0|
|   -115.4|    32.7|              19.0|      583.0|         113.0|     531.0|     134.0|       1.6838|           95800.0|
|  -115.49|   32.87|              19.0|      541.0|         104.0|     457.0|     106.0|       3.3583|          102800.0|
|   -115.5|   32.75|              13.0|      330.0|          72.0|     822.0|      64.0|       3.4107|          142500.0|
|  -115.52|   34.22|              30.0|      540.0|         136.0|     122.0|      63.0|       1.3333|           42500.0|
|  -115.53|   34.91|              12.0|      807.0|         199.0|     246.0|     102.0|       2.5391|           40000.0|
|  -115.55|    32.8|              23.0|      666.0|         142.0|     580.0|     160.0|       2.1136|           61000.0|
|  -115.55|   32.79|              22.0|      565.0|         162.0|     692.0|     141.0|       1.2083|           53600.0|
|  -115.58|   32.81|               5.0|      805.0|         143.0|     458.0|     143.0|        4.475|           96300.0|
|  -115.59|   32.69|              30.0|      935.0|         177.0|     649.0|     148.0|       2.5769|           94400.0|
|   -115.6|    33.2|              37.0|      709.0|         187.0|     390.0|     142.0|       2.4511|           72500.0|
|  -115.72|   32.75|              16.0|      348.0|          99.0|     123.0|      54.0|       2.0938|           87500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

# Group By and Aggregate

In [19]:
data_set.groupBy('longitude').sum('median_income').show()

+---------+------------------+
|longitude|sum(median_income)|
+---------+------------------+
|  -119.04|           50.8801|
|  -121.27|122.04979999999999|
|  -122.61|           48.6802|
|  -116.06|            3.5837|
|  -117.55| 61.59440000000001|
|  -119.07|           30.3679|
|   -120.3|13.701899999999998|
|  -120.88|           24.7718|
|  -121.22| 91.09459999999999|
|  -122.02|316.76179999999994|
|  -122.68|            46.937|
|  -115.59|           13.8333|
|  -115.73| 8.094199999999999|
|  -116.99|117.14169999999999|
|  -117.17|155.49909999999997|
|  -117.94|248.36859999999996|
|  -118.66|48.807500000000005|
|  -120.73|            2.8698|
|  -124.21|            6.2397|
|  -116.83|            8.1663|
+---------+------------------+
only showing top 20 rows

In [20]:
data_set.groupBy('longitude').mean('median_income').show()

+---------+------------------+
|longitude|avg(median_income)|
+---------+------------------+
|  -119.04| 2.992947058823529|
|  -121.27| 2.976824390243902|
|  -122.61|4.4254727272727274|
|  -116.06|           1.79185|
|  -117.55|            4.3996|
|  -119.07| 3.374211111111111|
|   -120.3|2.7403799999999996|
|  -120.88| 3.538828571428571|
|  -121.22|3.3738740740740734|
|  -122.02| 5.192816393442622|
|  -122.68|3.9114166666666663|
|  -115.59|4.6110999999999995|
|  -115.73|2.0235499999999997|
|  -116.99|3.9047233333333327|
|  -117.17| 3.616258139534883|
|  -117.94| 4.435153571428571|
|  -118.66| 6.972500000000001|
|  -120.73|            2.8698|
|  -124.21|            2.0799|
|  -116.83|           4.08315|
+---------+------------------+
only showing top 20 rows

In [23]:
data_set.groupBy('longitude').max('median_income').show()

+---------+------------------+
|longitude|max(median_income)|
+---------+------------------+
|  -119.04|            5.9316|
|  -121.27|            6.1872|
|  -122.61|            6.9081|
|  -116.06|            2.2466|
|  -117.55|            5.9333|
|  -119.07|            4.8839|
|   -120.3|            4.5461|
|  -120.88|            5.3168|
|  -121.22|            6.3914|
|  -122.02|           10.6834|
|  -122.68|            7.3003|
|  -115.59|            6.3814|
|  -115.73|               2.9|
|  -116.99|            6.2787|
|  -117.17|            7.3669|
|  -117.94|            9.7956|
|  -118.66|            10.076|
|  -120.73|            2.8698|
|  -124.21|            2.5795|
|  -116.83|            5.4288|
+---------+------------------+
only showing top 20 rows

In [22]:
data_set.groupBy('longitude').count().show()

+---------+-----+
|longitude|count|
+---------+-----+
|  -119.04|   17|
|  -121.27|   41|
|  -122.61|   11|
|  -116.06|    2|
|  -117.55|   14|
|  -119.07|    9|
|   -120.3|    5|
|  -120.88|    7|
|  -121.22|   27|
|  -122.02|   61|
|  -122.68|   12|
|  -115.59|    3|
|  -115.73|    4|
|  -116.99|   30|
|  -117.17|   43|
|  -117.94|   56|
|  -118.66|    7|
|  -120.73|    1|
|  -124.21|    3|
|  -116.83|    2|
+---------+-----+
only showing top 20 rows

In [24]:
data_set.agg({'median_income' : 'sum'}).show()

+------------------+
|sum(median_income)|
+------------------+
| 66020.82770000036|
+------------------+

# ML

In [41]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ML').getOrCreate()
spark

In [42]:
data_set = spark.read.csv('sample_data/california_housing_train.csv' , header = True , inferSchema = True)
data_set.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [43]:
data_set.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [44]:
data_set.columns[:-1]

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

- In case of categorical features

In [ ]:
# from pyspark.ml.feature import StringIndexer
# indexer = StringIndexer(inputCols=['colA','colB'] , outputCols=['indexed_colA', 'indexed_ColB'])
# data_r = indexer.fit(data_set).transform(data_set)

In [31]:
from pyspark.ml.feature import VectorAssembler
featureAssembler = VectorAssembler(inputCols=data_set.columns[:-1] , outputCol='Independent_features')

In [32]:
independent_data = featureAssembler.transform(data_set)

In [33]:
independent_data.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Independent_features|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|[-114.31,34.19,15...|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|[-114.47,34.4,19....|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|[-114.56,33.69,17...|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|[-114.57,33.64,14...|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|[-114.57,33.57,20...|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|[-114.58,33.63,29...|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|[-114.58,33.61,25...|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|[-114.59,34.83,41...|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|[-114.59,33.61,34...|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|[-114.6,34.83,46....|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|[-114.6,33.62,16....|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|[-114.6,33.6,21.0...|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|[-114.61,34.84,48...|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|[-114.61,34.83,31...|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|[-114.63,32.76,15...|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|[-114.65,34.89,17...|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|[-114.65,33.6,28....|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|[-114.65,32.79,21...|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|[-114.66,32.74,17...|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|[-114.67,33.92,17...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 20 rows

In [34]:
independent_data = independent_data.select('Independent_features','median_house_value')

In [35]:
independent_data.show()

+--------------------+------------------+
|Independent_features|median_house_value|
+--------------------+------------------+
|[-114.31,34.19,15...|           66900.0|
|[-114.47,34.4,19....|           80100.0|
|[-114.56,33.69,17...|           85700.0|
|[-114.57,33.64,14...|           73400.0|
|[-114.57,33.57,20...|           65500.0|
|[-114.58,33.63,29...|           74000.0|
|[-114.58,33.61,25...|           82400.0|
|[-114.59,34.83,41...|           48500.0|
|[-114.59,33.61,34...|           58400.0|
|[-114.6,34.83,46....|           48100.0|
|[-114.6,33.62,16....|           86500.0|
|[-114.6,33.6,21.0...|           62000.0|
|[-114.61,34.84,48...|           48600.0|
|[-114.61,34.83,31...|           70400.0|
|[-114.63,32.76,15...|           45000.0|
|[-114.65,34.89,17...|           69100.0|
|[-114.65,33.6,28....|           94900.0|
|[-114.65,32.79,21...|           25000.0|
|[-114.66,32.74,17...|           44000.0|
|[-114.67,33.92,17...|           27500.0|
+--------------------+------------------+
only showing top 20 rows

In [36]:
from pyspark.ml.regression import LinearRegression
train_data , test_data = independent_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent_features' , labelCol='median_house_value')
regressor = regressor.fit(train_data)

In [37]:
regressor.coefficients , regressor.intercept

(DenseVector([-43677.1782, -43343.3552, 1171.0878, -8.2724, 116.0448, -37.3726, 44.8199, 40713.9099]),
 -3672056.8223217316)

In [38]:
pred_result = regressor.evaluate(test_data)

In [39]:
pred_result.predictions.show()

+--------------------+------------------+------------------+
|Independent_features|median_house_value|        prediction|
+--------------------+------------------+------------------+
|[-124.23,40.54,52...|          106700.0|189865.11714195507|
|[-124.22,41.73,28...|           78300.0| 75323.47169347666|
|[-124.21,40.75,32...|           58100.0|108786.28878011648|
|[-124.21,41.77,17...|           68400.0| 78951.13723550178|
|[-124.19,40.73,21...|           90100.0|165769.56700281706|
|[-124.19,40.77,30...|           69000.0|143663.02351800958|
|[-124.18,40.78,33...|           72200.0|127976.57732933993|
|[-124.18,40.78,34...|           67000.0|119795.25160470838|
|[-124.18,40.78,37...|           70200.0|135003.87801110698|
|[-124.17,40.75,13...|          116100.0|199508.30910658138|
|[-124.17,40.79,43...|           70500.0|128474.90209632367|
|[-124.17,41.76,20...|          105900.0| 80363.94600200374|
|[-124.16,40.78,46...|           81800.0| 201836.4313291097|
|[-124.16,40.8,52....|           80500.0|148200.17693932122|
|[-124.15,40.76,24...|          100600.0| 156036.2371562724|
|[-124.15,40.78,36...|           90000.0|174885.43161778525|
|[-124.15,40.88,33...|           57500.0|103922.23324597022|
|[-124.15,41.81,17...|          103100.0|-9235.711768845562|
|[-124.14,40.67,23...|          130600.0| 187112.5089783878|
|[-124.14,41.95,21...|          122400.0| 70757.75831350451|
+--------------------+------------------+------------------+
only showing top 20 rows

In [40]:
pred_result.meanSquaredError

4871950908.697149